{% extends "activity/lists.html" %}

            {% block pageheader %}
            <h3 >CALLS LIST <i class="fa fa-angle-double-right "></i></h3>
            {% endblock pageheader %}

        {% block content %}
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Call Type</th>
                        <th>Contact</th>
                        <th>Position</th>
                        <th>Address</th>
                        <th>Value</th>
                        <th>Date</th>
                        <th>detail</th>
                    </tr>
                </thead>
                <tbody>
                {% for call in call_list %}
                  <tr>
                      <td>{{ call.customer }}</td>
                      <td>{{ call.get_call_type_display }}</td>
                      <td>{{ call.contact }}</td>
                      <td>{{ call.position }}</td>
                      <td>{{ call.address }}</td>
                      <td>{{ call.order_value }}</td>
                      <td>{{ call.call_date }}</td>
                      <td><a href="{% url 'call_detail' call.id %}">details</a></td>
                {% endfor %}
                </tbody>
            </table>
        {% endblock content %}

{% block submenu-js %}
<script type="text/javascript">
$('.list-group-item').removeClass('active');
$('#calllist-submenu').addClass('active');
</script>
{% endblock submenu-js %}
