{% extends "activity/call_list.html" %}
{% load humanize %}

            {% block pageheader %}
            <h3 >CALL DETAIL <i class="fa fa-angle-double-right "></i></h3>
            {% endblock pageheader %}

            {% block searchform %}
            {% endblock searchform %}

            {% block content %}
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>{{ call.customer }}</th>
                    </tr>
                </thead>
                <tbody>
                  <tr><td>Rep</td><td>{{ call.rep }}</td></tr>
                  <tr><td>Contact</td><td>{{ call.contact|default:"N/A" }}</td></tr>
                  <tr><td>Position</td><td>{{ call.position|default:"N/A" }}</td></tr>
                  <tr><td>Address</td><td>{{ call.address|linebreaks }}</td></tr>
                  <tr><td>Call Type</td><td>{{ call.get_call_type_display }}</td></tr>
                  <tr><td>Call Date</td><td>{{ call.call_date }}</td></tr>
                  <tr><td>Entered On</td><td>{{ call.recorded_date }}</td></tr>
                  <tr><td>Remarks</td><td>{{ call.remarks|linebreaks }}</td></tr>
                </tbody>
            </table>


            <table class="table table-striped table-responsive">
                <caption>Products Detailed</caption>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Order Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for detail in call.call_products.all %}
                  <tr>
                      <td>{{ detail.product }}</td>
                      <td>{{ detail.order_value }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endblock content %}
