{% extends 'activity/call.html' %}
{% block pageheader %}
<h3 >Competitor Activities<i class="fa fa-angle-double-right "></i></h3>
{% endblock pageheader %}

{% block submenu-js %}
<script type="text/javascript">
$('.list-group-item').removeClass('active');
$('#competitor-submenu').addClass('active');

$('#id_product').addClass('form-control');
$('#id_competing_company').addClass('form-control');
$('#id_competing_product').addClass('form-control');
$('#id_expected_effect').addClass('form-control');
$('#id_suggestion').addClass('form-control');
$('#id_activity').addClass('form-control');
</script>
{% endblock submenu-js %}
