{% extends "activity/call.html" %}

{% block start %}
    <section class="headline-sec">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}             </li>
        {% endfor %}
    </ul>
        {% endif %}
        <div class="overlay ">
            {% block pageheader %}
            <h3>CONCLUSION LIST <i class="fa fa-angle-double-right "></i></h3>
            {% endblock pageheader %}

        </div>
    </section>
{% endblock start %}

        {% block content %}
        <div class="col-md-8">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Text</th>
                    </tr>
                </thead>
                <tbody>
                {% for conclusion in conclusion_list %}
                  <tr>
                      <td>{{ conclusion.recorded_date }}</td>
                      <td>{{ conclusion.text|linebreaks }}</td>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endblock content %}
{% block submenu-js %}
<script type="text/javascript">
$('.list-group-item').removeClass('active');
$('#conclusionlist-submenu').addClass('active');
</script>
{% endblock submenu-js %}
