{% extends 'call/call.html' %}
{% block pageheader %}
<h3 >Government Hospital Call<i class="fa fa-angle-double-right "></i></h3>
{% endblock pageheader %}

{% block call_nav %}
 <a class="list-group-item active" href="{% url 'govt_call' %}">Govt Hospital call</a>
 <a class="list-group-item" href="{% url 'private_call' %}">Private Hospital call</a>
 <a class="list-group-item" href="{% url 'trade_call' %}">Trade call</a>
 <a class="list-group-item" href="{% url 'call_list' %}">view calls</a>
{% endblock call_nav %}
